:root {
  --vk-color-white: #ffffff;
  --vk-color-black: #000000;
  --colors: (
    primary: #409eff,
    success: #67c23a,
    warning: #e6a23c,
    danger: #f56c6c,
    info: #909399
  );
  @each $val, $color in var(--colors) {
    --vk-color-$(val): $(color);
  }
}
